div{
    width:400px; /* 고정 너비 */
    height:200px;
    background:skyblue;
    border-radius:50px;
    display: inline-block;
    margin: 15px;
    color: white;
    /* 추가 */
    text-align : center;
    border : 1px solid blue;
    line-height : 200px;

}

.box1 { margin:10px 30px 10px 30px;}
.box2 { margin:10px 30px;}
.box3 { margin:30px;}
.box4 { margin:10px 5px 10px; }

div {
    margin:30px; /* div 간의 여백 */
}